# Ignore the massive data files
A3-dataset/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE files
.vscode/
.idea/